<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/user_side/site.css" asp-append-version="true" />
	<link rel="icon" type="image/x-icon" href="~/2187_color.svg">
</head>
<body>
	@if (ViewData["HideHeader"] == null || !(bool)ViewData["HideHeader"])
	{
		<header class="container">
			<div class="header-content">
				<form method="post" asp-page="/Index" asp-page-handler="Search">
					<div class="search-bar">
						<input type="text" name="searchQuery" placeholder="Введите название книги" />

						<button type="submit">
							Найти
						</button>
					</div>
				</form>

				<button class="sign-in-button" onclick="location.href='@Url.Page("/Login")'">
					Войти
				</button>
			</div>
		</header>
	}

	<main>
		@RenderBody()
	</main>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>