.filters {
    margin-bottom: 20px;
    text-align: center;
}

.filter-group {
    margin-bottom: 10px;
}

.filter-group label {
    margin-right: 10px;
}


.books-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.books-section {
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

.book {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

.book-illustration {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.book-title {
    font-size: 1.2em;
    margin: 10px 0;
}

.book-author {
    font-size: 1em;
    color: #555;
}
